main {

}

    .profile-card {
        width: 300px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-bottom: 20px;
    }

        #profile-image {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }

        

